*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.content{
    flex:1
}

.image{
    width: 25%;
    margin: 2% auto;
}
.image img{
    width: 100%;
}
.slide{
    width: 100%;
    margin: 7% auto 25% auto;
    position: relative;
}
.retanguleBackground {
    width: 100%;
    height: 14vw;
    background-color: #bc0008;
}
.slide .slideImages ul{
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: -1vw;
    left: 13vw;
    justify-content: center;
 
}

.slide .slideImages ul li{
    width: 14vw;
    height:16vw;
    margin: 0 0.3%;
    list-style: none;
    background-color: black;
    text-align: center;
    align-items: center;
    color:transparent;
    transition: 1s;   
    background-position: center;
    background-size: 240% ;
    background-repeat: no-repeat;

}
.slide .slideImages ul li div{
    width: 14vw;
    height: 16vw;
    background-color: transparent;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide .slideImages ul li div p{
    color: transparent;
    font-size: 2vw;
    transition: 1s;
}
.slide .slideImages ul li#PostoDaMata{
    background-image: url("./img/img1.jpg");
    background-position : 55% 100%;
}
.slide .slideImages ul li#PostoDaMata:hover{
    background-size: 200%;
}
.slide .slideImages ul li#Itabata{
    background-image: url("./img/img4.jpg");
    background-position: 10% 30%;
    background-size: 210%;
}
.slide .slideImages ul li#Itabata:hover{
    background-size: 190%;
    background-position: 00% 10%;
}
.slide .slideImages ul li#Mucuri{
    background-image: url("./img/img3.jpg");
    background-size: 210%;
    background-position: 60% 10%;
}.slide .slideImages ul li#Mucuri:hover{
    background-size: 190%;
    background-position: 55% 100%;
}
.slide .slideImages ul li#Prado{
    background-image: url("./img/img2.jpg");
    background-size: 170%;
    background-position: 80% 100%;
}

.slide .slideImages ul li#Prado:hover{
    background-size: 160%;
    background-position: 80% 100%;
}
.slide .slideImages ul li#Itamaraju{
    background-image: url("./img/img6.jpg");
    background-size: 220%;
}
.slide .slideImages ul li#Itamaraju:hover{
background-size: 240%;
}

.slide .slideImages ul li:hover{
    transition: 1s;
    width: 24vw;
    height: 24vw;
    font-size: 3vw;
    color: #ffb400;
    margin-top: -3vw;
    background-size: 170%;
}.slide .slideImages ul li:hover > div{
    transition:1s;
    height:24vw;
    width: 24vw;
    background-color:rgba(000,000,000,0.5);
    color: #ffb400;
    font-size: 3vw;
}.slide .slideImages ul li:hover > div p{
    color: white;
    font-size: 3vw;
    transition: 1s;
}
.formulario{
    width: 100%;
    margin-top: 5vw;
    height: 30vw;

}
.formulario .letreiro{
    font-size: 1.5vw;
    text-align: center;
    color: #dd3e3d;
    position: relative;
    line-height:0.9;
    top: -14vw;
}
.formulario .linha2Form{
    display: flex;
    width: 28vw;
    margin: 1vw auto;
    align-items: center;
    justify-content: center;
    
}
.formulario .formContent{
    margin-top: 8vw;
    color: #dd3e3d;
}
.formulario .formContent form input,.formulario .formContent form select,.formulario .formContent form button{

    display:block;
    width: 25vw;
    padding: 1.3vw;
    margin: 0.6vw auto;
    font-size: 1.3vw;
    background-color:#ffb400;
    color: white;
    font-weight: 800;
    border: none;
   outline-color: transparent; 
   border-radius: none;
}
.formulario .formContent form input:valid,.formulario .formContent form select:valid,.formulario .formContent form button:valid{
    outline-color:green;
}

.formulario .formContent form input::placeholder{
    color: white;
}
.formulario .formContent form input#data,.formulario .formContent form select{
    width:12.3vw;
    border-radius: none;
    
}
.formulario .formContent form input#data{
    padding: 1.36vw;
    font-size: 1.5vw;
    position:relative;
    top: -0.02vw
}
.formulario .formContent form button{
    width: 27.9vw;
    padding: 1.6vw;
    color: white;
    background-color: green;
}

.formulario .formContent form #politicaPrivac{
    color: black;
    width: 27vw;
    font-size: 0.8vw;
    margin: 1vw auto;
}
.formulario .framePolitica{
    background-color: white;
    box-shadow:0px 0.5vw 2vw black ;
    width: 70vw;
    height: 95vw;
    position: fixed;
    left: 15vw;
    top: 20vw;
    padding: 2vw;
    overflow-x:hidden;
    overflow-y: scroll;
    display: none;
    font-size: 3.5vw;
}
.formulario .framePolitica{
    scrollbar-color:#ffb400 rgb(224, 224, 224);
    position: absolute;
}

.formulario .framePolitica ul{
    padding-left: 1.3vw;
}
.formulario .framePolitica h1{
    margin: 1vw 0;
    font-size: 3vw;
}
.formulario .framePolitica p{
    margin: 1vw 0;
}
.formulario .framePolitica ul li{
    list-style-type:none;
}
.formulario .feixar{
    position: absolute;
    left: 65vw;
    top: -2vw;
    font-size: 10vw;
    color: black;
}
footer{
    background-color: #bc0008;
    width: 100vw;
    height: 12vw;
    display: flex;
 
 
}
footer div{
    width: 40vw;
}
footer .social a, footer .legislacao a{
    color: white;
    text-decoration: none;
}
footer .links{
    display: flex;
    width: 30vw;
    float: right;
    margin-left: 29vw;
}
footer .links ul{
    margin: 1vw 2vw;    
}
footer .links ul:last-child{
    display: none;
}
footer .links li{
    margin: 0.3vw 0;
    list-style: none;
    color: white;
    font-weight: 100;
    font-size: 1vw;
}
footer .links ul li:first-child{
    font-weight: 900;
}
footer .logo{
    background-image: url("./img/logoHorizontalBranca.png");
    background-size: 70%;
    margin: 2vw 0 0 4vw;
    background-repeat: no-repeat;
}
@media screen and (max-width: 360px){

    .image{
        width: 45%;
        margin: 5% auto;
    }
    .image img{
        width: 100%;
    }
/*calma*/    
    .formulario{
        width: 100%;
        position:absolute;
        top: 87vw;
        height: 70vw;
    
    }
    .formulario .letreiro{
        font-size: 2.5vw;
        position: relative;
        line-height:0.9;
        top: -24vw;
    }
    .formulario .framePolitica{
        top: -60vw;
    }
    .formulario .formContent form input,.formulario .formContent form select,.formulario .formContent form button{
    
        display:block;
        width: 67vw;
        padding: 4vw;
        margin: 0 auto;
        font-size: 3vw;
        background-color:#ffb400;
        color: white;
        font-weight: 800;
        border: none;
       outline-color: transparent;
    }
    .formulario .formContent form input:valid,.formulario .formContent form select:valid,.formulario .formContent form button:valid{
        outline-color:green;
    }
    
    .formulario .formContent form input::placeholder{
        color: white;
    }
    .formulario .linha2Form{
        width: 77vw;
    }
    .formulario .formContent form input#data,.formulario .formContent form select{
        width:36vw;
        margin: 0 0.1vw ;
        padding: 0vw 1.5vw;
        height:15vw;
        font-size: 3vw;
        display: block;
    }
    .formulario .formContent form input#data{

        position:relative;
        color:white;
    }
    .formulario .formContent form button{
        width: 75vw;
        padding: 3.6vw;
        color: white;
        background-color: green;
    }
    .formulario .formContent form #politicaPrivac{
        color: black;
        width: 65vw;
        font-size: 2.2vw;
        margin: 1vw auto;
    } 
    .formulario .formContent form #politicaPrivac a{
        color: blue;
        text-decoration:underline;
        cursor: pointer;        
    }
    footer{
        height: 20vw;
        font-size: 1.1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    footer .logo{
        width: 40vw;
        height: 10vw;
        display: block;
        background-position: center;
        margin: 0 auto;
    }
    footer .links{
        display: block;
        font-size: 1.27vw;
        width: 60vw;
        height: 8vw;
        color: white;
        margin: 0vw;
        margin-bottom: -2vw;
        text-align: center;
    }
    footer .links ul{
        display: none;
    }
    footer .links ul:last-child{
        display: block;
    }
    footer .links ul a{
        color: #ffb400;
        text-decoration: none;
        cursor: pointer;
    }
    .slide{
        width: 100%;
        margin: 11% auto 7% auto;
        margin-bottom: 0;
    }
    .retanguleBackground {
        width: 100%;
        height: 17vw;
        background-color: #bc0008;
    }
    .slide .slideImages ul{
        display: flex;
        margin: 0 auto;
        position: relative;
        top: -20vw;
        justify-content: center;
        
        
    }
    .slide .slideImages ul li{
        width: 14vw;
        height:23vw;
        margin: 0 0.3%;
        list-style: none;
        background-color: black;
        text-align: center;
        align-items: center;
        color:transparent;
        transition: 1s;   
        background-position: center;
        background-size: 280% ;
        background-repeat: no-repeat;
    
    }
    .slide .slideImages ul li div{
        width: 17vw;
        height: 26vw;
        background-color: transparent;
        transition: 1s;
        display:none;
        align-items: center;
        justify-content: center;
    }
    .slide .slideImages ul li div p{
        color: transparent;
        font-size: 2.5vw;
        transition: 1s;
    }
    .slide .slideImages ul li#PostoDaMata{
        background-image: url("./img/img1.jpg");
        background-position: 55% 100%;
        background-size: 310%;
    }
    .slide .slideImages ul li#Itabata{
        background-image: url("./img/img4.jpg");
        background-position: 20% 30%;
        background-size: 300%;
    }
    .slide .slideImages ul li#Mucuri{
        background-image: url("./img/img3.jpg");
        background-size: 300%;
        background-position: 60% 40%;
    }
    .slide .slideImages ul li#Prado{
        background-image: url("./img/img2.jpg");
        background-size: 250%;
        background-position: 80% 70%;
    }
    
    .slide .slideImages ul li#Itamaraju{
        background-image: url("./img/img6.jpg");
        background-size: 330%;
    }
    
    .slide .slideImages ul li:hover{
        transition: 1s;
        width: 24vw;
        height: 33vw;
        font-size: 3vw;
        color: #ffb400;
        margin-top: -3vw;
        background-size: 170%;
    }.slide .slideImages ul li:hover > div{
        transition:1s;
        height:33vw;
        width: 24vw;
        background-color:rgba(000,000,000,0.5);
        color: #ffb400;
        font-size: 3vw;
        display: none;
    }.slide .slideImages ul li:hover > div p{
        color: white;
        font-size: 3vw;
        transition: 1s;
    }
  }@media screen and (min-height:780px) {

    .image{
        width: 45%;
        margin: 5% auto;
    }
    .image img{
        width: 100%;
    }
/*calma*/    
    .formulario{
        width: 100%;
        position:absolute;
        top: 87vw;
        height: 70vw;
    
    }
    .formulario .letreiro{
        font-size: 2.5vw;
        position: relative;
        line-height:0.9;
        top: -24vw;
    }
    .formulario .framePolitica{
        top: -60vw;
    }
    .formulario .formContent form input,.formulario .formContent form select,.formulario .formContent form button{
    
        display:block;
        width: 67vw;
        padding: 4vw;
        margin: 0 auto;
        font-size: 3vw;
        background-color:#ffb400;
        color: white;
        font-weight: 800;
        border: none;
       outline-color: transparent;
    }
    .formulario .formContent form input:valid,.formulario .formContent form select:valid,.formulario .formContent form button:valid{
        outline-color:green;
    }
    
    .formulario .formContent form input::placeholder{
        color: white;
    }
    .formulario .linha2Form{
        width: 77vw;
    }
    .formulario .formContent form input#data,.formulario .formContent form select{
        width:36vw;
        margin: 0 0.1vw ;
        padding: 0vw 1.5vw;
        height:15vw;
        font-size: 3vw;
        display: block;
    }
    .formulario .formContent form input#data{

        position:relative;
        color:white;
    }
    .formulario .formContent form button{
        width: 75vw;
        padding: 3.6vw;
        color: white;
        background-color: green;
    }
    .formulario .formContent form #politicaPrivac{
        color: black;
        width: 65vw;
        font-size: 2.2vw;
        margin: 1vw auto;
    } 
    .formulario .formContent form #politicaPrivac a{
        color: blue;
        text-decoration:underline;
        cursor: pointer;        
    }
    footer{
        height: 20vw;
        font-size: 1.1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    footer .logo{
        width: 40vw;
        height: 10vw;
        display: block;
        background-position: center;
        margin: 0 auto;
    }
    footer .links{
        display: block;
        font-size: 1.27vw;
        width: 60vw;
        height: 8vw;
        color: white;
        margin: 0vw;
        margin-bottom: -2vw;
        text-align: center;
    }
    footer .links ul{
        display: none;
    }
    footer .links ul:last-child{
        display: block;
    }
    footer .links ul a{
        color: #ffb400;
        text-decoration: none;
        cursor: pointer;
    }
    .slide{
        width: 100%;
        margin: 11% auto 7% auto;
        margin-bottom: 0;
    }
    .retanguleBackground {
        width: 100%;
        height: 20vw;
        background-color: #bc0008;
    }
    .slide .slideImages ul{
        display: flex;
        margin: 0 auto;
        position: relative;
        top: -23vw;
        left: 0;
        justify-content: center;
        
        
    }
    .slide .slideImages ul li{
        width: 17vw;
        height:26vw;
        margin: 0 0.3%;
        list-style: none;
        background-color: black;
        text-align: center;
        align-items: center;
        color:transparent;
        transition: 1s;   
        background-position: center;
        background-size: 280% ;
        background-repeat: no-repeat;
    
    }
    .slide .slideImages ul li div{
        width: 17vw;
        height: 26vw;
        background-color: transparent;
        transition: 1s;
        display:none;
        align-items: center;
        justify-content: center;
    }
    .slide .slideImages ul li div p{
        color: transparent;
        font-size: 2.5vw;
        transition: 1s;
    }
    .slide .slideImages ul li#PostoDaMata{
        background-image: url("./img/img1.jpg");
        background-position: 55% 100%;
        background-size: 310%;
    }
    .slide .slideImages ul li#Itabata{
        background-image: url("./img/img4.jpg");
        background-position: 20% 30%;
        background-size: 300%;
    }
    .slide .slideImages ul li#Mucuri{
        background-image: url("./img/img3.jpg");
        background-size: 300%;
        background-position: 60% 40%;
    }
    .slide .slideImages ul li#Prado{
        background-image: url("./img/img2.jpg");
        background-size: 250%;
        background-position: 80% 70%;
    }
    
    .slide .slideImages ul li#Itamaraju{
        background-image: url("./img/img6.jpg");
        background-size: 330%;
    }
    
    .slide .slideImages ul li:hover{
        transition: 1s;
        width: 24vw;
        height: 33vw;
        font-size: 3vw;
        color: #ffb400;
        margin-top: -3vw;
        background-size: 170%;
    }.slide .slideImages ul li:hover > div{
        transition:1s;
        height:33vw;
        width: 24vw;
        background-color:rgba(000,000,000,0.5);
        color: #ffb400;
        font-size: 3vw;
        display: none;
    }.slide .slideImages ul li:hover > div p{
        color: white;
        font-size: 3vw;
        transition: 1s;
    }
  }
@media screen and (min-height:600px) and (max-width:590px) {

    .image{
        width: 45%;
        margin: 5% auto;
    }
    .image img{
        width: 100%;
    }
/*calma*/    
    .formulario{
        width: 100%;
        position:absolute;
        top: 87vw;
        height: 70vw;
    
    }
    .formulario .letreiro{
        font-size: 2.5vw;
        position: relative;
        line-height:0.9;
        top: -24vw;
    }
    .formulario .framePolitica{
        top: -60vw;
    }
    .formulario .formContent form input,.formulario .formContent form select,.formulario .formContent form button{
    
        display:block;
        width: 67vw;
        padding: 4vw;
        margin: 0 auto;
        font-size: 3vw;
        background-color:#ffb400;
        color: white;
        font-weight: 800;
        border: none;
       outline-color: transparent;
    }
    .formulario .formContent form input:valid,.formulario .formContent form select:valid,.formulario .formContent form button:valid{
        outline-color:green;
    }
    
    .formulario .formContent form input::placeholder{
        color: white;
    }
    .formulario .linha2Form{
        width: 77vw;
    }
    .formulario .formContent form input#data,.formulario .formContent form select{
        width:36vw;
        margin: 0 0.1vw ;
        padding: 0vw 1.5vw;
        height:15vw;
        font-size: 3vw;
        display: block;
    }
    .formulario .formContent form input#data{

        position:relative;
        color:white;
    }
    .formulario .formContent form button{
        width: 75vw;
        padding: 3.6vw;
        color: white;
        background-color: green;
    }
    .formulario .formContent form #politicaPrivac{
        color: black;
        width: 65vw;
        font-size: 2.2vw;
        margin: 1vw auto;
    } 
    .formulario .formContent form #politicaPrivac a{
        color: blue;
        text-decoration:underline;
        cursor: pointer;        
    }
    footer{
        height: 20vw;
        font-size: 1.1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 160vw;

    }
    footer .logo{
        width: 40vw;
        height: 10vw;
        display: block;
        background-position: center;
        margin: 0 auto;
    }
    footer .links{
        display: block;
        font-size: 1.27vw;
        width: 60vw;
        height: 8vw;
        color: white;
        margin: 0vw;
        margin-bottom: -2vw;
        text-align: center;
    }
    footer .links ul{
        display: none;
    }
    footer .links ul:last-child{
        display: block;
    }
    footer .links ul a{
        color: #ffb400;
        text-decoration: none;
        cursor: pointer;
    }
    .slide{
        width: 100%;
        margin: 11% auto 7% auto;
        margin-bottom: 0;
    }
    .retanguleBackground {
        width: 100%;
        height: 20vw;
        background-color: #bc0008;
    }
    .slide .slideImages ul{
        display: flex;
        margin: 0 auto;
        position: relative;
        top: -23vw;
        left: 0;
        justify-content: center;
        
        
    }
    .slide .slideImages ul li{
        width: 17vw;
        height:26vw;
        margin: 0 0.3%;
        list-style: none;
        background-color: black;
        text-align: center;
        align-items: center;
        color:transparent;
        transition: 1s;   
        background-position: center;
        background-size: 280% ;
        background-repeat: no-repeat;
    
    }
    .slide .slideImages ul li div{
        width: 17vw;
        height: 26vw;
        background-color: transparent;
        transition: 1s;
        display:none;
        align-items: center;
        justify-content: center;
    }
    .slide .slideImages ul li div p{
        color: transparent;
        font-size: 2.5vw;
        transition: 1s;
    }
    .slide .slideImages ul li#PostoDaMata{
        background-image: url("./img/img1.jpg");
        background-position: 55% 100%;
        background-size: 310%;
    }
    .slide .slideImages ul li#Itabata{
        background-image: url("./img/img4.jpg");
        background-position: 20% 30%;
        background-size: 300%;
    }
    .slide .slideImages ul li#Mucuri{
        background-image: url("./img/img3.jpg");
        background-size: 300%;
        background-position: 60% 40%;
    }
    .slide .slideImages ul li#Prado{
        background-image: url("./img/img2.jpg");
        background-size: 250%;
        background-position: 80% 70%;
    }
    
    .slide .slideImages ul li#Itamaraju{
        background-image: url("./img/img6.jpg");
        background-size: 330%;
    }
    
    .slide .slideImages ul li:hover{
        transition: 1s;
        width: 24vw;
        height: 33vw;
        font-size: 3vw;
        color: #ffb400;
        margin-top: -3vw;
        background-size: 170%;
    }.slide .slideImages ul li:hover > div{
        transition:1s;
        height:33vw;
        width: 24vw;
        background-color:rgba(000,000,000,0.5);
        color: #ffb400;
        font-size: 3vw;
        display: none;
    }.slide .slideImages ul li:hover > div p{
        color: white;
        font-size: 3vw;
        transition: 1s;
    }

  }